> 
# Project: Investigating tmdb-movie dataset

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

The dataset I choose to analyze is tmdb-movie dataset. When I was exploring the data set, I have some questions. First, which genre receive higher revenue, action or comedy? Second, which one is more likely to have higher popularity, comedy or action? To build my report. I need some dependent variables and independent variables. Here, revenue and popularity are my dependent variables. Genres, original title, release time, budget are indenpendent variables.

> **Tip**: In this section of the report, provide a brief introduction to the dataset you'vAt the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables. If you're not sure what questions to ask, then make sure you familiarize yourself with the dataset, its variables and the dataset context for ideas of what to explore.

> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. In order to work with the data in this workspace, you also need to upload it to the workspace. To do so, click on the jupyter icon in the upper left to be taken back to the workspace directory. There should be an 'Upload' button in the upper right that will let you add your data file(s) to the workspace. You can then click on the .ipynb file name to come back here.

#Cell below are all packages that I plan to use for my analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


# Remember to include a 'magic word' so that your visualizations are plotted
#   inline with the notebook. See this page for more:
#   http://ipython.readthedocs.io/en/stable/interactive/magics.html

<a id='wrangling'></a>
## Data Wrangling

In this section of the report, I loaded my predownloaded tmdb-movies dataset and check for cleaness.I check for the first five rows of data, if there are some existing null value, and the data type of each variable

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [2]:
df=pd.read_csv('tmdb-movies.csv')
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(10845, 31)

In [4]:
df.describe()

,id,popularity,budget,revenue,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
count,10845.000000,10845.000000,1.084500e+04,1.084500e+04,3.000000,3.000000,2.000000,2.0,1.0
mean,65849.886491,0.646100,1.463289e+07,3.984774e+07,7.166667,673.100000,1006.500000,0.0,0.0
std,92025.447839,0.998712,3.090240e+07,1.170298e+08,8.129166,1161.256488,1423.405951,0.0,NaN
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.0
25%,10589.000000,0.207668,0.000000e+00,0.000000e+00,2.750000,2.650000,503.250000,0.0,0.0
50%,20604.000000,0.383921,0.000000e+00,0.000000e+00,5.500000,5.300000,1006.500000,0.0,0.0
75%,75074.000000,0.714232,1.500000e+07,2.404653e+07,10.750000,1009.650000,1509.750000,0.0,0.0
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,16.000000,2014.000000,2013.000000,0.0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10845 entries, 0 to 10844
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10845 non-null  int64
 1   imdb_id               10835 non-null  object
 2   popularity            10845 non-null  float64
 3   budget                10845 non-null  int64
 4   revenue               10845 non-null  int64
 5   original_title        10845 non-null  object
 6   cast                  10750 non-null  object
 7   homepage              2953 non-null   object
 8   director              10781 non-null  object
 9   tagline               8035 non-null   object
 10  keywords              9369 non-null   object
 11  overview              10841 non-null  object
 12  runtime               10844 non-null  object
 13  genres                10815 non-null  object
 14  production_companies  9831 non-null   object
 15  release_date          10844 non-null  object
 16  vote_count            10845 non-null  object
 17  vote_average          10844 non-null  object
 18  release_year          10845 non-null  object
 19  budget_adj            10844 non-null  object
 20  revenue_adj           10802 non-null  object
 21  Unnamed: 21           17 non-null     object
 22  Unnamed: 22           12 non-null     object
 23  Unnamed: 23           8 non-null      object
 24  Unnamed: 24           4 non-null      object
 25  Unnamed: 25           4 non-null      object
 26  Unnamed: 26           3 non-null      float64
 27  Unnamed: 27           3 non-null      float64
 28  Unnamed: 28           2 non-null      float64
 29  Unnamed: 29           2 non-null      float64
 30  Unnamed: 30           1 non-null      float64
dtypes: float64(6), int64(3), object(22)
memory usage: 2.6+ MB

In [6]:
type(df['vote_count'][0])

str

In [7]:
df.drop(['id', 'imdb_id','original_title','cast', 'homepage', 'director', 'tagline', 'keywords', 'overview', 'production_companies', 'vote_count', 'vote_average','release_date', 'Unnamed: 21','Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26','Unnamed: 27', 'Unnamed: 27','Unnamed: 28','Unnamed: 29', 'Unnamed: 30'], axis=1, inplace=True)

In [8]:
df.head()

,popularity,budget,revenue,runtime,genres,release_year,budget_adj,revenue_adj
0,32.985763,150000000,1513528810,124,Action|Adventure|Science Fiction|Thriller,2015,137999939.3,1392445893
1,28.419936,150000000,378436354,120,Action|Adventure|Science Fiction|Thriller,2015,137999939.3,348161292.5
2,13.112507,110000000,295238201,119,Adventure|Science Fiction|Thriller,2015,101199955.5,271619025.4
3,11.173104,200000000,2068178225,136,Action|Adventure|Science Fiction|Fantasy,2015,183999919,1902723130
4,9.335014,190000000,1506249360,137,Action|Crime|Thriller,2015,174799923.1,1385748801

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10845 entries, 0 to 10844
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   popularity    10845 non-null  float64
 1   budget        10845 non-null  int64
 2   revenue       10845 non-null  int64
 3   runtime       10844 non-null  object
 4   genres        10815 non-null  object
 5   release_year  10845 non-null  object
 6   budget_adj    10844 non-null  object
 7   revenue_adj   10802 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 677.9+ KB

In [10]:
type(df['revenue_adj'][0])

str

In [11]:
type(df['vote_count'][0])

KeyError: 'vote_count'

In [ ]:
df['revenue_adj']=df.revenue_adj.astype(float)

In [ ]:
df['col']=df[~df.revenue_adj.str.contains(" and forgiveness unfolds")]

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
new_data=df1[['genres', 'popularity','original_title', 'release_year', 'revenue']].dropna(axis=0, how='any')

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Which type of movie having more popularity, action or comedy?

### Which one receive higher revenue, action or comedy?

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Investigate_a_Dataset.ipynb'])